<section class="about-jumbotron">
    <div class="jumbotron-container">
        <div class="jumbotron-overlay">
            <div class="elements-container">
                <h1>About Myself</h1>
                <h5>Make the change that you want to see in the world</h5>
                <button>Call action</button>
            </div>
        </div>
    </div>
</section>
<div class="tabs-navigation-container">
    <a class="tab-selector" routerLink="active" [routerLink]="['./description']">Description</a>
    <a class="tab-selector" routerLink="active" [routerLink]="['./biography']">Biography</a>
</div>
<router-outlet></router-outlet>
"Make the changes that you want to see in the world"