<div class="about-jumbotron">
    <div class="jumbotron-container">
      <div style="z-index: 1; display: flex; justify-content: center; flex-direction: column; align-items: center;">
        <h1 class="title">About me</h1>
        <div class="phrase">
          “At least you try, other people never try.”
        </div>
        <button mat-flat-button [routerLink]="['/home']" fragment="contact">Get in touch</button>
      </div>
    </div>
  </div>


<div class="tabs-navigation-container">
    <div class="tab focus-outline" routerLinkActive="active" [routerLink]="['./description']">
      <mat-icon>contact_page</mat-icon>
      <div>Description</div>
    </div>
    <div class="tab focus-outline" routerLinkActive="active" [routerLink]="['./biography']">
      <mat-icon>auto_stories</mat-icon>
      <div>Biography</div>
    </div>
  </div>
  
  <router-outlet></router-outlet>

