<mat-toolbar class="footer">
    <mat-toolbar-row class="row-1">
      <div class="site-map">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active">{{ 'FOOTER.HOME' | translate }}</a>
        <a [routerLink]="['/about']" routerLinkActive="router-link-active">{{ 'FOOTER.ABOUT' | translate }}</a>
        <a class="child-route" [routerLink]="['/about/description']" routerLinkActive="router-link-active">{{ 'FOOTER.DESCRIPTION' | translate }}</a>
        <a class="child-route" [routerLink]="['/about/biography']" routerLinkActive="router-link-active">{{ 'FOOTER.BIOGRAPHY' | translate }}</a>
        <a [routerLink]="['/cv']" routerLinkActive="router-link-active">{{ 'FOOTER.CV' | translate }}</a>
        <a [routerLink]="['/projects']" routerLinkActive="router-link-active">{{ 'FOOTER.PROJECTS' | translate }}</a>
        <a [routerLink]="['/hobbies']" routerLinkActive="router-link-active">{{ 'FOOTER.HOBBIES' | translate }}</a>
      </div>
      <div class="middle-container">
        <div class="label">{{ 'FOOTER.FOLLOW_ME' | translate }}</div>
        <div class="social-links-container">
          <i class="fab fa-linkedin-in" (click)="navigateLink('https://www.linkedin.com/in/omar-eliseo-g%C3%B3mez-ram%C3%ADrez-019b96206/')"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-facebook-f" (click)="navigateLink('https://www.facebook.com/profile.php?id=100005576677262')"></i>
          <i class="fab fa-reddit-alien"></i>
          <i class="fab fa-instagram" (click)="navigateLink('https://www.instagram.com/omar_gomra/?hl=es-la')"></i>
          <i class="fab fa-youtube" (click)="navigateLink('https://www.youtube.com/channel/UCx1IDRuGI8JxmKZxPmg99Jw')"></i>
        </div>
        <div class="site-terms-container">
          <div class="link" (click)="openDialog('privacy')">{{ 'FOOTER.PRIVACY' | translate }}</div>
          <div class="link" (click)="openDialog('terms')">{{ 'FOOTER.TERMS_OF_USE' | translate }}</div>
          <div class="link" (click)="openDialog('cookies')">Cookies</div>
        </div>
      </div>
      <app-presentation-card
      [name]="nameFooter"
      [title]="titleFooter"
      [emailAddress]="emailAddressFooter"
      [phoneNumber]="phoneNumberFooter"
      [physicalAddress]="physicalAddressFooter"
      (showInfo)="onShowInfo($event)"
      ></app-presentation-card>
    </mat-toolbar-row>
    <mat-toolbar-row class="row-2">
        <div class="powered-by">Powered by {{ text }}</div>
    </mat-toolbar-row>
</mat-toolbar>
