@import '@angular/material/theming';

@mixin footer-theme($light-theme) {
  $primary: map-get($light-theme, primary);
  $accent: map-get($light-theme, accent);
  $hover-color: mat-color($accent);
  .footer {
    overflow-x: hidden;
    .row-1 {
      padding: 16px;
      height: unset;
      display: flex;
      justify-content: space-between;
      .site-map {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        a {
          color: inherit;
          text-decoration: none;
          margin-right: 10px;
          &:hover {
            text-decoration: underline;
          }
        }
        .child-route {
          margin-left: 10px;
          font-size: 18px;
        }
      }
      .middle-container {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        .label {
          text-align: center;
        }
        .social-links-container {
          display: flex;
          i {
            $icon-size: 28px;
            font-size: $icon-size;
            width: $icon-size;
            height: $icon-size; 
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px 10px;
            margin-top: 20px;
            cursor: pointer;
            &:hover {
              color: $hover-color
            }
            &:nth-child(1) {
              margin-left: 0px;
            }
            &:last-child {
              margin-right: 0px;
            }
          }
        }
        .site-terms-container {
          display: flex;
          justify-content: space-between;
          .link {
            cursor: pointer;
            margin-right: 20px;
            margin-top: 30px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      @media screen and (max-width: 880px){
        flex-direction: column;
        align-items: center;
        .site-map {
          margin: 0px;
          flex-direction: row;
          flex-wrap: wrap;
          margin-bottom: 20px;
          justify-content: center;
        }
        .middle-container {
          margin: 0px;
          margin-bottom: 20px;
          .label {
            text-align: center;
          }
          .social-links-container {
            flex-wrap: wrap;
            justify-content: center;
          }
          .site-terms-container {
            flex-wrap: wrap;
            justify-content: center;
          }
        }
      }
    }
    .row-2 {
      display: flex;
      justify-content: center;
      height: unset;
      padding: 10px 16px;
      .powered-by {
        text-align: center;
        font-size: 11px;
        line-height: 1.2;
        white-space: normal;
      }
    }
  }
}

// Theming
.light-theme {
  .row-2 {
    padding: 6px 16px;
    background-color: #8266ff;
    color: white;
  }
}
.dark-theme {
  .row-2 {
    padding: 6px 16px;
    background-color: #c95000;
  }
}