@import '~@angular/material/theming';

$header-break: 820px;

@mixin header-theme($light-theme) {
  $primary: map-get($light-theme, primary);
  $accent: map-get($light-theme, accent);

    /* #region Desktop header */
  .header {
    z-index: 10;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 1px 1px rgb(20 23 28 / 10%), 0 3px 1px 0 rgb(20 23 28 / 10%);
    .header-container {
      display: flex;
      max-width: 1280px;
      margin: auto;
      width: 100%;
      span {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
          color: mat-color($accent);
        }
      }
      .spacer {
        display: flex;
        flex-grow: 1;
        justify-content: center;
      }
      .navigation-container {
        display: flex;
        div {
          position: relative;
          outline: none;
          cursor: pointer;
          margin-right: 10px;
          text-decoration: none;
          outline: none;
          &:hover {
            color:mat-color($accent);
          }
          &:visited {
            color: inherit;
          }
          &.active {
            &:before {
              content: '';
              position: absolute;
              height: 2px;
              background-color: white;
              width: 100%;
              bottom: 0px;
            }
          }
        }
      }
      .profile-image {
        background-image: url('/assets/profile-pictures/profile-picture.jpg');
        background-size: cover;
      }
    }
    .progress-indicator-container {
      width: 100%;
      position: absolute;
      bottom: 0px;
      left: 0px;    
    }
    @media screen and (max-width: $header-break) {
      display: none;
    }
  }

  .sticky-header {
    z-index: 10;
    position: fixed;
    overflow: hidden;
    box-shadow: 0 0 1px 1px rgb(20 23 28 / 10%), 0 3px 1px 0 rgb(20 23 28 / 10%);
    top: 0px;
    height: 0px;
    opacity: 0;
    transition: opacity 0.25s ease-out, height 0.15s ease;
    .header-container {
      display: flex;
      max-width: 1280px;
      margin: auto;
      width: 100%;
      span {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
          color: mat-color($accent);
        }
      }
      .spacer {
        display: flex;
        flex-grow: 1;
        justify-content: center;
      }
      .navigation-container {
        display: flex;
        div {
          position: relative;
          outline: none;
          cursor: pointer;
          margin-right: 10px;
          text-decoration: none;
          outline: none;
          &:hover {
            color:mat-color($accent);
          }
          &:visited {
            color: inherit;
          }
          &.active {
            &:before {
              content: '';
              position: absolute;
              height: 2px;
              background-color: white;
              width: 100%;
              bottom: 0px;
            }
          }
        }
      }
      .profile-image {
        background-image: url('/assets/profile-pictures/profile-picture.jpg');
        background-size: cover;
      }
    }
    .progress-indicator-container {
      width: 100%;
      position: absolute;
      bottom: 0px;
      left: 0px;    
    }
    @media screen and (max-width: $header-break) {
      display: none;
    }
  }
  /* #endregion */

  /* #region Mobile header */
  .header-mobile {
    z-index: 10;
    position: relative;
    overflow-x: hidden;
    display: none;
    box-shadow: 0 0 1px 1px rgb(20 23 28 / 10%), 0 3px 1px 0 rgb(20 23 28 / 10%);
    .hamburger {
      margin-left: -10px;
      .mat-button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .initials {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .spacer {
      display: flex;
      flex-grow: 1;
      justify-content: center;
    }
    .profile-image {
      background-image: url('/assets/profile-pictures/profile-picture.jpg');
      background-size: contain;
    }
    .progress-indicator-container {
      width: 100%;
      position: absolute;
      bottom: 0px;
      left: 0px;    
    }
    @media screen and (max-width: $header-break) {
      display: flex;
    }
  }

  .sticky-header-mobile {
    z-index: 10;
    position: fixed;
    overflow-x: hidden;
    display: none;
    top: 0px;
    height: 0px;
    opacity: 0;
    transition: opacity 0.25s ease-out, height 0.15s ease;
    box-shadow: 0 0 1px 1px rgb(20 23 28 / 10%), 0 3px 1px 0 rgb(20 23 28 / 10%);
    .hamburger {
      margin-left: -10px;
      .mat-button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .initials {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .spacer {
      display: flex;
      flex-grow: 1;
      justify-content: center;
    }
    .profile-image {
      background-image: url('/assets/profile-pictures/profile-picture.jpg');
      background-size: contain;
    }
    .progress-indicator-container {
      width: 100%;
      position: absolute;
      bottom: 0px;
      left: 0px;    
    }
    @media screen and (max-width: $header-break) {
      display: flex;
    }
  }
    /* #endregion */

  .sticky {
    height: 64px;
    opacity: 1;
    transition: opacity 0.65s ease-out, height 0.25s ease;
    @media screen and (max-width: $header-break) {
      height: 56px;
    }
  }
}
  
::ng-deep {
  .settings-menu {
    .label {
      padding: 0px 10px;
    }
    .theme-radio-group {
      display: flex;
      flex-direction: column;
      padding: 10px;
      ::ng-deep {
        .mat-radio-button {
        }
      }
    }
  }
}