<mat-toolbar class="header"color="primary">
  <div class="header-container">
    <span>{{name}}</span>
    <span class="spacer"></span>
    <div class="navigation-container">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/cv" routerLinkActive="active">CV</a>
      <a routerLink="/projects" routerLinkActive="active">Projects</a>
      <a routerLink="/hobbies" routerLinkActive="active">Hobbies</a>
    </div>
    <button mat-icon-button [disabled]="!enableShareButton" [matMenuTriggerFor]="shareMenu" aria-label="share icon button">
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-toolbar class="header-mobile" color="primary">
  <button mat-icon-button (click)="toggleSidenav.emit()" aria-label="menu icon-button">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{initials}}</span>
  <span class="spacer"></span>
  <button mat-icon-button [disabled]="!enableShareButton" [matMenuTriggerFor]="shareMenu" aria-label="share icon button">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #shareMenu="matMenu">
  <button mat-menu-item>Copy link</button>
  <button mat-menu-item>Share on Facebook</button>
  <button mat-menu-item>Share on Tinder</button>
</mat-menu>


<!-- <div style="border: 1px solid red; width: 50px; height: 50px; border-radius: 5px; margin: 5px;"></div> -->