<!-- #region Desktop header -->
<div style="position: relative;">
  <mat-toolbar class="header"color="primary">
    <div class="header-container">
      <span (click)="navigateToHomePage()">{{name}}</span>
      <span class="spacer"></span>
      <div class="navigation-container">
        <div routerLink="/home" routerLinkActive="active">Home</div>
        <div routerLink="/about" routerLinkActive="active">About</div>
        <div routerLink="/cv" routerLinkActive="active">CV</div>
        <div routerLink="/projects" routerLinkActive="active">Projects</div>
        <div routerLink="/hobbies" routerLinkActive="active">Hobbies</div>
      </div>
      <button mat-icon-button [disabled]="!enableShareButton" [matMenuTriggerFor]="shareMenu" aria-label="share icon button">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-icon-button  [matMenuTriggerFor]="settingsMenu" aria-label="setting icon button">
        <mat-icon>settings</mat-icon>
      </button>
      <div mat-card-avatar class="profile-image"></div>
    </div>
  </mat-toolbar>
  <div class="progress-container">
    <div id="scrollIndicatorBar" class="progress-bar"></div>
  </div>
</div>

<mat-toolbar class="sticky-header" [ngClass]="{'sticky': isSticky}" color="primary">
  <div class="header-container">
    <span (click)="navigateToHomePage()">{{name}}</span>
    <span class="spacer"></span>
    <div class="navigation-container">
      <div routerLink="/home" routerLinkActive="active">Home</div>
      <div routerLink="/about" routerLinkActive="active">About</div>
      <div routerLink="/cv" routerLinkActive="active">CV</div>
      <div routerLink="/projects" routerLinkActive="active">Projects</div>
      <div routerLink="/hobbies" routerLinkActive="active">Hobbies</div>
    </div>
    <button mat-icon-button [disabled]="!enableShareButton" [matMenuTriggerFor]="shareMenu" aria-label="share icon button">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button  [matMenuTriggerFor]="settingsMenu" aria-label="setting icon button">
      <mat-icon>settings</mat-icon>
    </button>
    <div mat-card-avatar class="profile-image"></div>
  </div>
</mat-toolbar>
<!-- #endregion -->

<!-- #region Mobile header -->
<mat-toolbar class="header-mobile" color="primary">
  <button mat-icon-button (click)="toggleSidenav.emit()" aria-label="menu icon-button">
    <mat-icon>menu</mat-icon>
  </button>
  <span (click)="navigateToHomePage()">{{initials}}</span>
  <span class="spacer"></span>
  <button mat-icon-button [disabled]="!enableShareButton" [matMenuTriggerFor]="shareMenu" aria-label="share icon button">
    <mat-icon>share</mat-icon>
  </button>
  <div mat-card-avatar class="profile-image"></div>
</mat-toolbar>


<mat-toolbar class="sticky-header-mobile" [ngClass]="{'sticky': isSticky}" color="primary">
  <button mat-icon-button (click)="toggleSidenav.emit()" aria-label="menu icon-button">
    <mat-icon>menu</mat-icon>
  </button>
  <span (click)="navigateToHomePage()">{{initials}}</span>
  <span class="spacer"></span>
  <button mat-icon-button [disabled]="!enableShareButton" [matMenuTriggerFor]="shareMenu" aria-label="share icon button">
    <mat-icon>share</mat-icon>
  </button>
  <div mat-card-avatar class="profile-image"></div>
</mat-toolbar>
<!-- #endregion -->

<app-loadingbar></app-loadingbar>

<!-- #region Menus -->
<mat-menu #shareMenu="matMenu">
  <button mat-menu-item>Copy link</button>
  <button mat-menu-item>Share on Facebook</button>
  <button mat-menu-item>Share on Tinder</button>
</mat-menu>
<mat-menu class="settings-menu" #settingsMenu="matMenu">
  <div class="label">Theme</div>
  <mat-radio-group class="theme-radio-group" aria-label="Select an option" [formControl]="themeControl">
    <mat-radio-button [color]="'accent'" value="light-theme">Light</mat-radio-button>
    <mat-radio-button [color]="'primary'" value="dark-theme">Dark</mat-radio-button>
  </mat-radio-group>
</mat-menu>
<!-- #endregion -->


<!-- <div style="border: 1px solid red; width: 50px; height: 50px; border-radius: 5px; margin: 5px;"></div> -->