<!-- #region Desktop header -->
<mat-toolbar class="header"color="primary">
  <div class="header-container">
    <span (click)="navigateToHomePage()">{{name}}</span>
    <div class="spacer"></div>
    <div class="navigation-container">
      <div routerLink="/home" routerLinkActive="active">{{ 'HEADER.HOME' | translate }}</div>
      <div routerLink="/about" routerLinkActive="active">{{ 'HEADER.ABOUT' | translate }}</div>
      <div routerLink="/cv" routerLinkActive="active">{{ 'HEADER.CV' | translate }}</div>
      <div routerLink="/projects" routerLinkActive="active">{{ 'HEADER.PROJECTS' | translate }}</div>
      <div routerLink="/hobbies" routerLinkActive="active">{{ 'HEADER.HOBBIES' | translate }}</div>
    </div>
    <button mat-icon-button [disabled]="!enableShareButton" [matMenuTriggerFor]="shareMenu" aria-label="share icon button">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button  [matMenuTriggerFor]="settingsMenu" aria-label="setting icon button">
      <mat-icon>settings</mat-icon>
    </button>
    <div mat-card-avatar class="profile-image"></div>
  </div>
  <div class="progress-indicator-container">
    <app-scroll-indicator [indicatorName]="'scroll-indicator-header'"></app-scroll-indicator>
  </div>
  <app-loadingbar></app-loadingbar>
</mat-toolbar>


<mat-toolbar class="sticky-header" [ngClass]="{'sticky': isSticky}" color="primary">
  <div class="header-container">
    <span (click)="navigateToHomePage()">{{name}}</span>
    <div class="spacer"></div>
    <div class="navigation-container">
      <div routerLink="/home" routerLinkActive="active">{{ 'HEADER.HOME' | translate }}</div>
      <div routerLink="/about" routerLinkActive="active">{{ 'HEADER.ABOUT' | translate }}</div>
      <div routerLink="/cv" routerLinkActive="active">{{ 'HEADER.CV' | translate }}</div>
      <div routerLink="/projects" routerLinkActive="active">{{ 'HEADER.PROJECTS' | translate }}</div>
      <div routerLink="/hobbies" routerLinkActive="active">{{ 'HEADER.HOBBIES' | translate }}</div>
    </div>
    <button mat-icon-button [disabled]="!enableShareButton" [matMenuTriggerFor]="shareMenu" aria-label="share icon button">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button  [matMenuTriggerFor]="settingsMenu" aria-label="setting icon button">
      <mat-icon>settings</mat-icon>
    </button>
    <div mat-card-avatar class="profile-image"></div>
  </div>
  <div class="progress-indicator-container">
    <app-scroll-indicator [indicatorName]="'scroll-indicator-sticky-header'"></app-scroll-indicator>
  </div>
  <app-loadingbar></app-loadingbar>
</mat-toolbar>
<!-- #endregion -->

<!-- #region Mobile header -->
<mat-toolbar class="header-mobile" color="primary">
  <button class="hamburger" mat-icon-button (click)="toggleSidenav.emit()" aria-label="menu icon-button">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="initials" (click)="navigateToHomePage()">{{initials}}</span>
  <div class="spacer"></div>
  <button mat-icon-button [disabled]="!enableShareButton" [matMenuTriggerFor]="shareMenu" aria-label="share icon button">
    <mat-icon>share</mat-icon>
  </button>
  <div mat-card-avatar class="profile-image"></div>
  <div class="progress-indicator-container">
    <app-scroll-indicator [indicatorName]="'scroll-indicator-header-mobile'"></app-scroll-indicator>
  </div>
  <app-loadingbar></app-loadingbar>
</mat-toolbar>


<mat-toolbar class="sticky-header-mobile" [ngClass]="{'sticky': isSticky}" color="primary">
  <button class="hamburger" mat-icon-button (click)="toggleSidenav.emit()" aria-label="menu icon-button">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="initials" (click)="navigateToHomePage()">{{initials}}</span>
  <div class="spacer"></div>
  <button mat-icon-button [disabled]="!enableShareButton" [matMenuTriggerFor]="shareMenu" aria-label="share icon button">
    <mat-icon>share</mat-icon>
  </button>
  <div mat-card-avatar class="profile-image"></div>
  <div class="progress-indicator-container">
    <app-scroll-indicator [indicatorName]="'scroll-indicator-sticky-header-mobile'"></app-scroll-indicator>
  </div>
  <app-loadingbar></app-loadingbar>
</mat-toolbar>
<!-- #endregion -->

<!-- #region Menus -->
<mat-menu #shareMenu="matMenu">
  <button mat-menu-item>{{ 'HEADER.COPY LINK' | translate }}</button>
  <button mat-menu-item>{{ 'HEADER.SHARE ON FACEBOOK' | translate }}</button>
  <button mat-menu-item>{{ 'HEADER.SHARE ON TWITTER' | translate }}</button>
</mat-menu>
<mat-menu class="settings-menu" #settingsMenu="matMenu">
  <div class="label">{{ 'HEADER.THEME' | translate }}</div>
  <mat-radio-group class="theme-radio-group" aria-label="Select an option" [formControl]="themeControl">
    <mat-radio-button [color]="'accent'" value="light-theme">{{ 'HEADER.LIGHT' | translate }}</mat-radio-button>
    <mat-radio-button [color]="'primary'" value="dark-theme">{{ 'HEADER.DARK' | translate }}</mat-radio-button>
  </mat-radio-group>
</mat-menu>
<!-- #endregion -->


<!-- <div style="border: 1px solid red; width: 50px; height: 50px; border-radius: 5px; margin: 5px;"></div> -->