<div style="position: relative; display: inline-block;">
    <button style="position: absolute; right: 0px;" mat-mini-fab aria-label="Close dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
    <h1>Website</h1>
    <p>This website is designed for recruiters and any other who is interested in knowing Omar Eliseo Gomez Ramirez (e.g., journalists). Detailed information about Omar's life should not be subject of any ilegal activity. This website is operated and manteined by Omar himrself, please reach out if you have any comments, feed back or suggestions.</p>
    <h1>Data controller and contact details</h1>
    <p>Omar Eliseo Gomez Ramirez is the data controller of this website and is responsable for its operation.</p>
    <p>For any data protection related comment or question you may have in connection to this website you can reach him by contact information indicated in the footer oy by email at <a href="gomar8138@gmail.com"></a></p>
    <h1>What personal data do I precess?</h1>
    <p>As a matter of principle, this website does not processes any personal data. Please read cookies policy.</p>
    <h1>Cookies</h1>
    <p>This websitea also uses cookies. The use of cookies is governed by a separate policy. This policy can be found in the footer</p>
    <h1>Links to extenal websites and social media channels</h1>
    <p>This website contains links to other websites. This website's administrators are not responsable for th privacy practices of such other websites</p>
    <p>This website especially contains links to popular social networks (e.g., LinkedIn, Twitter, Facebook, YouTube, Intagram). The data processing on such social media sites when yo visit the respective Omar's profile is subject to the privacy policies of the respective social media site operator and outside the control of this website's administrators</p>
    <p>This privacy terms are subject to admendments and changes at any time at Omar's sole discretion. Accordingly, it is suggested that you check these privacy terms periodically for updates</p>
    <p>Febrero</p>

    <button style="float: right;" mat-flat-button color="accent" (click)="closeDialog()">Ok</button>
  </div>