<section class="project-jumbotron">
    <div *ngIf="!!project" class="jumbotron-container" [ngStyle]="{'background-image': 'url(' + project.thumbnail +')' }">
        <div class="jumbotron-overlay">
            <div class="elements-container">
                <h1>{{project.code}}</h1>
                <h5>{{project.name}}</h5>
            </div>
        </div>
    </div>
</section>

<section class="project-description-section">
    <div *ngIf="!!project" class="project-description-container">
        <div class="project-name">{{project.name}}</div>
        <div class="project-description" [innerHtml]="project.description">{{project.description}}</div>
    </div> 
</section>