.top-toolbar {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 0px 16px; 
  display: flex; 
  justify-content: space-between;
  .left {
    .label {
      cursor: pointer;
      text-transform: uppercase;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .right {
    .info-label {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.swiper-container {
  max-width: 1280px;
  height: 80vh;
  padding: 0px 16px;
  .swiper-wrapper {
    .swiper-slide {
      .slide-container {
        text-align: center;
        height: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
  .swiper-pagination {
    // Insert pagination styles here
    .swiper-pagination-bullet-active {
      background-color: red;
    }
  }
}

.bottom-toolbar {
  max-width: 1280px;
  margin: auto; 
  padding: 0px 16px; 
  display: flex;
  justify-content: space-between;
  .label {
    text-transform: uppercase;
  }
  .swiper-buttons-container {
    display: flex;
    align-items: center;
    .swiper-button {
      position: relative;
      left: unset !important;
      right: unset !important;
      top: unset !important;
      width: unset !important;
      height: unset !important;
      line-height: 1 !important;
      margin: 0px;
      color: black;
    }
    .swiper-button-prev {
      z-index: 1 !important;
      &::after {
        content: unset !important;
      }
      &:focus {
        outline: 1px dashed black;
      }
    }
    .swiper-button-next {
      z-index: 1 !important;
      &::after {
        content: unset !important;
      }
      &:focus {
        outline: 1px dashed black;
      }
    }
    .swiper-pagination {
      z-index: 1 !important;
      position: relative;
      bottom: 1px;
    }
  }
}

.project-description-section {
  .project-description-container {
    max-width: 1280px;
    margin: auto;
    padding: 0px 16px;
    .project-name {
      text-align: center;
      margin: 30px 0px;
      font-size: 28px;
      font-weight: 600;
    }
    .project-description {
      margin: 30px 0px;
    }
  }
}

.interrupter-container {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
  .interrupter {
    width: 80px;
    height: 4px;
    border-radius: 4px;
    background-color: #5c5c5c;
  }
}

::ng-deep {
  .dark-theme {
    .swiper-button {
      color: #ffffff !important;
    }
  }
}