<div style="position: relative; display: inline-block;">
    <button style="position: absolute; right: 0px;" mat-mini-fab aria-label="Close dialog()" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
    <h1>Cookies</h1>
    <p>Please read this cookie policy carefully as is applies to our use of "cookies" in connection with this website.</p>
    <p>We use "cookies" to help make your visits to may website a better experience, and this policy explains how we do just that. Remember you are in control and can adjust these settings.</p>
    <h1>What are cookies?</h1>
    <p>Cookies are small text files which contain information that’s downloaded to your computer or mobile device when you visit a website. When you visit the website again, or visit another website which recognizes a cookie you’ve previously downloaded, your device communicates with the website and the website can read the information held in that cookie.</p>
    <p>“First party cookies” come from the site you are currently using, for example, zurich.com. You can also enable "third party cookies", which are cookies placed by our approved business partners from a different website – for example should we use Google advertising services on zurich.com, their website cookies may be placed on the site you are visiting.</p>
    <p>There are also different types of cookies, which do slightly different things;</p>
    <p>“Session cookies” stay in place only for the duration of your visit to our website and are deleted at the end of your browsing session.</p>
    <p>"Persistent cookies" remain on your device until the expiry date and time set by the website.</p>
    <h1>How we use cookies?</h1>
    <p>We use cookies to improve your experience when you browse on this website (for exampl, store some of your preferences on how you wnat to see content based on what you have selected before) and to save your time by not having to re-enter your preferences next time you visit my website</p>
    <h1>Accept or block cookies</h1>
    <p>You can block any cookies from any website by activating the setting on your browser that allows you to refuse the setting of some or all cookies. However, if you block all cookies you may not be able to access all or part of zurich.com. You can also use your browser settings to delete cookies. For more information about how to disable cookies in your browser please visit the following links; Internet Exporer, Google Chrome, Mozilla Firefox.</p>
    <p>If you share the use of a computer, accepting or rejecting the use of cookies may affect all users of that computer. Where a cookie is provided by a third party, you may be able to use that third party’s own guidance to block that cookie.</p>
    <button style="float: right;"  mat-flat-button color="accent" (click)="closeDialog()">Ok</button>
</div>

