<section class="description-section">
    <div class="description-container">
        <div class="read-time">Read time: {{ readTime | readTime}}</div>
        <P>
            Los ingenieros en mecatrónica trabajan principalmente en el desarrollo de máquinas inteligentes y procesos de automatización, desde el diseño y las pruebas de funcionamiento, hasta la fabricación final. 
        </P>
        <P>
            Esta profesión se integra a industrias como la robótica, médica y de asistencia, automotriz e incluso de vehículos aéreos no tripulados.
        </P>
        <P>
            Es una carrera de alta demanda en el mercado internacional actual y vale la pena que conozcas un poco más al respecto.
        </P>
    </div>
</section>
