<section class="description-section">
    <div class="description-container">
        <div class="read-time">Read time: {{ readTime | readTime}}</div>
        <P>
            I am a student of the mechatronic engineering career, and at the same time a programming student for web development. 
        </P>
        <P>
            Throughout my stay as a student of the aforementioned careers, I have acquired many skills around high-level engineering.
        </P>
        <P>          
            I also consider myself as an apt and prepared student to solve engineering problems.
        </P>
        <p>
            Throughout my three-year career, I have been involved in the development of mini projects that include programming, electronics, and structural design, among others.
        </p>
    </div>
    <div class="interrupter-container">
        <div class="interrupter"></div>
      </div>
</section>
