<section class="biography-section">
    <div class="biography-container">
        <div class="read-time">Read time: {{ readTime | readTime}}</div>
        <P>
            Omar, is a student who is preparing hard in the engineering and programming area.    
        </P>
        <P>
            Since the age of 12, he has shown quite an interest in this area, he has also excelled in the area of ​​physics and mathematics.
        </P>
        <P>
            Day by day he acquires new knowledge in these areas, becoming more involved in the professional aspect, so that in the near future he will be able to solve problems around his engineering area.
        </P>
    </div>
    <div class="interrupter-container">
        <div class="interrupter"></div>
      </div>
</section>
