<div class="swiper-wrapper-container">
  <div  class="swiper-container" [swiper]="config" [(index)]="index">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <Particles [id]="">
          <div class="slide-container" class="parallax-slide">
            <div>1</div>
            <div>Title</div>
            <div>subtitle</div>
            <div style="height: 350px;">Description</div>
          </div>
        </Particles>
      </div>
      <div class="swiper-slide">
        <div class="slide-container">
          <div>2</div>
          <div>Title</div>
          <div>subtitle</div>
          <div>Description</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-container">
          <div>3</div>
          <div>Title</div>
          <div>subtitle</div>
          <div>Description</div>
        </div>
      </div>
    </div>
    <!-- <div class="swiper-scrollbar"></div> -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

<section>
  <span class="typed-element"></span>
</section>