.swiper-wrapper-container {
    position: relative;
    .swiper-container {
        .swiper-wrapper {
            .swiper-slide {
                .slide-container {
                    max-width: 1280px;
                    margin: auto;
                    border: 1px solid black;
                }
                .parallax-slide {
                    overflow: hidden;
                    position: relative;
                    background-image: url('https://images.unsplash.com/photo-1415018255745-0ec3f7aee47b?dpr=1&auto=format&fit=crop&w=1500&h=938&q=80&cs=tinysrgb&crop=');
                    background-attachment: fixed;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 0px -430px;
                }           
            }
        }
    }
}