<div class="swiper-wrapper-container">
  <div  class="swiper-container" [swiper]="config" [(index)]="index">
    <div class="swiper-wrapper">
      <div class="swiper-slide parallax-slide">
        <div class="slide-container">
          <div class="terminal">
            <div class="terminal-app-bar">
              <div class="left">
                <div class="ball red-ball"></div>
                <div class="ball yellow-ball"></div>
                <div class="ball green-ball"></div>
              </div>
              <div class="middle">
                <img src="../../../assets/icons/mac-home-folder.png" alt="img">
                <div class="label">Omar</div>
              </div>
              <div class="right"></div>
            </div>
            <div class="container">
              <div class="element0">
                omar@personal-website ~$
                <span class="typed-element-0"></span>
              </div>
              <div class="element1" *ngIf="showElement1" [ngClass]="showElement1 ? 'show' : 'nodisplay'">
                omar@personal-website ~$
                <span class="typed-element-0"></span>
              </div>
              <div class="element2" *ngIf="showElement2" [ngClass]="showElement2 ? 'show' : 'nodisplay'">
                omar@personal-website ~$
                <span class="typed-element-2"></span>
              </div>
              <div class="element3" *ngIf="showElement3" [ngClass]="showElement3 ? 'show' : 'nodisplay'">
                omar@personal-website ~$
                <span class="typed-element-3"></span>
              </div>
            </div>
          </div>
        </div>
        <Particles class="particles" [id]="id" [options]="particlesOptions"></Particles>
      </div>
      <div class="swiper-slide">
        <div class="slide-container">
          <div>2</div>
          <div>Title</div>
          <div>subtitle</div>
          <div>Description</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-container">
          <div>3</div>
          <div>Title</div>
          <div>subtitle</div>
          <div>Description</div>
        </div>
      </div>
    </div>
    <!-- <div class="swiper-scrollbar"></div> -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

<section>
  <span class="typed-element"></span>
</section>