<div id="top" class="swiper-wrapper-container">
  <div  class="swiper-container" [swiper]="config" [(index)]="index">
    <div class="swiper-wrapper">
      <div class="swiper-slide parallax-slide">
        <div class="slide-container">
          <div class="terminal">
            <div class="terminal-app-bar">
              <div class="left">
                <div class="ball red-ball"></div>
                <div class="ball yellow-ball"></div>
                <div class="ball green-ball"></div>
              </div>
              <div class="middle">
                <img src="../../../assets/icons/mac-home-folder.png" alt="img">
                <div class="label">Omar</div>
              </div>
              <div class="right"></div>
            </div>
            <div class="container">
              <div class="element0">
                omar@personal-website ~$
                <span class="typed-element-0"></span>
              </div>
              <div class="element1" *ngIf="showElement1" [ngClass]="showElement1 ? 'show' : 'nodisplay'">
                omar@personal-website ~$
                <span class="typed-element-0"></span>
              </div>
              <div class="element2" *ngIf="showElement2" [ngClass]="showElement2 ? 'show' : 'nodisplay'">
                omar@personal-website ~$
                <span class="typed-element-2"></span>
              </div>
              <div class="element3" *ngIf="showElement3" [ngClass]="showElement3 ? 'show' : 'nodisplay'">
                omar@personal-website ~$
                <span class="typed-element-3"></span>
              </div>
            </div>
          </div>
        </div>
        <Particles class="particles" [id]="id" [options]="particlesOptions"></Particles>
      </div>

      <div class="swiper-slide circuit-silde">
        <div class="slide-container">
          <a class="contact-link" href="/home#contact">Contact me</a>
          <h1 class="title">Get to know me</h1>
          <div class="phrase">If you want to find the secrets of the universe, think in terms of energy, frequency and vibration</div>
        </div>
      </div>

      <div class="swiper-slide capacitor-slide">
        <div class="capacitor-slide-wrapper">
          <div class="slide-container">
            <h1 class="title">Get to know about my work</h1>
            <div class="phrase">The software is a great combination between art and engineering</div>
            <button mat-flat-button [routerLink]="['/projects']">View my projects</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="swiper-scrollbar"></div> -->
    <div class="swiper-pagination"></div>
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->
  </div>
</div>

<div class="welcome-banner"><b>Welcome to my personal website</b></div>

 <!-- practice 
<section>
  <span class="typed-element"></span>
  <input #myInput1 type="number" (blur)="onInputBlur($event)">
  <input #myInput2 type="number" >
  <button (click)="onButtonClick()">Click me</button>

  <app-cool-border [title]="'Landing'" [subtitle]="'Used on Landing'" [description]="'Using shared component whose host is declared in app module '">
    <div>
      This is some random content
    </div>
  </app-cool-border>
   Not the best practice 
  <button appHightLight>Style me using basic directive</button>
    Best practice  
  <button appBetterDirective>Style me using basic directive</button>
</section> -->

<section id="services" class="services-section">
  <div class="services-container">
    <div class="service-container">
      <img>
      <div class="icon-container">
        <i style="animation: float 6s ease-in-out infinite;" class="fas fa-robot"></i>
      </div>
      <h3 class="title">Engineer</h3>
      <div class="description">Mechatronics, which is also called mechatronics engineering is an interdisciplinary branch of engineering that focuses on the engineering of electronic, electrical and mechanical engineering systems, and also includes a combination of robotics, electronics, computer, telecommunications, systems, control, and product engineering.</div>
    </div>
    <div class="service-container">
      <img>
      <div class="icon-container">
        <i style="animation: float2 6s ease-in-out infinite;" class="fas fa-laptop-code"></i>
      </div>
      <h3 class="title">Student</h3>
      <div class="description">I am a student who is learning programming and Mechatronic</div>
    </div>
    <div class="service-container">
      <img>
      <div class="icon-container">
        <i style="animation: float 6s ease-in-out infinite;" class="fas fa-tractor"></i>
      </div>
      <h3 class="title">Farmer</h3>
      <div class="description">A farmer (also called an agriculturer) is a person engaged in agriculture, raising living organisms for food or raw materials.</div>
    </div>
  </div>
</section>

<section id="skills" class="skills-section">
  <div class="skills-container">
    <h3 class="section-title">Skills</h3>
    <mat-card>
      <div class="skill-container" *ngFor="let skill of skills">
        <div class="skill-top-row">
          <div>{{skill.name}}</div>
          <div class="center-label">{{skill.label}}</div>
          <div class="completion">{{skill.completion / 100 | percent }}</div>
        </div>
        <mat-progress-bar mode="buffer" value="{{skill.completion}}"></mat-progress-bar>
        <div class="skill-bottom-row">
          <div class="center-label">{{skill.label}}</div>
        </div>
      </div>
    </mat-card>
  </div>
</section>

<section id="contact" class="contact-section">
  <div class="contact-container">
    <div class="section-title" >{{ 'LANDING.CONTACT' | translate }}</div>
    <form [formGroup]="contactForm" (ngSubmit)="submitContactForm()">
      <mat-button-toggle-group name="fontStyle" aria-label="Contact chanel" formControlName="toggleControl" required>
        <mat-button-toggle value="whatsapp">{{ 'LANDING.WHATSAPP' | translate }}</mat-button-toggle>
        <mat-button-toggle value="email">{{ 'LANDING.EMAIL' | translate }}</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field appearence="outline" [color]="'accent'">
        <mat-label>{{ 'LANDING.FULL_NAME' | translate }}</mat-label>
        <input
          matInput
          placeholder="Ex. John Doe"
          formControlName="nameControl"
          required
        />
        <mat-error *ngIf="contactForm.controls.nameControl.errors && contactForm.controls.nameControl.errors['required']">{{ 'LANDING.FULL_NAME_IS_REQUIRED' | translate }}</mat-error>
      </mat-form-field>
    </form>
    <form [formGroup]="contactForm">
      <mat-form-field appearence="outline" [color]="'accent'" *ngIf="isSendEmail">
        <mat-label>{{ 'LANDING.EMAIL' | translate }}</mat-label>
        <input
          matInput
          placeholder="Ex. john.doe@example.com"
          formControlName="nameControl"
          required
        />
        <mat-error *ngIf="contactForm.controls.emailControl.errors && contactForm.controls.emailControl.errors['noMatchRegex']">{{contactForm.controls.emailControl.errors['noMatchRegex']['errorMEssage']}}</mat-error>
        <mat-error *ngIf="contactForm.controls.emailControl.errors && contactForm.controls.emailControl.errors['email']">Must enter a valid email address.</mat-error>
      </mat-form-field>
      <mat-form-field appearence="outline" [color]="'accent'">
        <mat-label>{{ 'LANDING.LEAVE_A_MESSAGE' | translate }}</mat-label>
        <textarea 
          matInput 
          placeholder="Ex. It makes me feel..."
          formControlName="messageControl"
          required
        ></textarea>
        <mat-error *ngIf="contactForm.controls.messageControl.errors && contactForm.controls.messageControl.errors['required']">{{ 'LANDING.A_MESSAGE_IS_REQUIRED' | translate }}</mat-error>
        <mat-error *ngIf="contactForm.controls.messageControl.errors && contactForm.controls.messageControl.errors['minlength']">Message requires a minimun length of {{contactForm.controls.messageControl.errors['minlength'].requiredLength}} characters.</mat-error>
      </mat-form-field>
      <button class="send-whatsapp-button" mat-fab type="submit" (click)="submitContactForm()" aria-label="Send WhatsApp">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</section>
