@import '@angular/material/theming';

  $loadingbar-height: 4px;
  $loadingbar-height-mobile: 4px;
  $glow-thickness: 0px;
  $header-height: 61px;

@mixin loadingbar-theme($light-theme) {
  $primary: map-get($light-theme, primary);
  $accent: map-get($light-theme, accent);
  $track-color: mat-color($primary);
  $thumb-color: mat-color($accent);

  // Style configuration
  $color1: $track-color;
  $color2: $thumb-color;
  
  .hidden {
    visibility: hidden;
  }
  .loader-overlay {
    position: absolute;
    width: 100%;
    z-index: 10;
    bottom: 0px;
    left: 0px;
  }
  .loader {
    height: $loadingbar-height;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: $color1;
    -webkit-box-shadow: 0px 0px $glow-thickness 0px $color1;
    -moz-box-shadow: 0px 0px $glow-thickness 0px $color1;
    box-shadow: 0px 0px $glow-thickness 0px $color1;
    @media screen and (max-width: 425px) {
      height: $loadingbar-height-mobile;
    }
    &::before {
      display: block;
      position: absolute;
      content: "";
      left: -200px;
      width: 200px;
      height: $loadingbar-height;
      background-color: $color2;
      animation: loading 2s linear infinite;
      @media screen and (max-width: 425px) {
        height: $loadingbar-height-mobile;
      }
    }
  }
  @keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% {left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
  }
}

::ng-deep {
  .light-theme {
    .loader:before {
      //background-color: ;
    }
  }
  .dark-theme {
    .loader:before {
      background-color: white;
    }
  }
}