// Light theme

// * Custom theme for Angular Material

// For more information: https://material.angular.io/guide/theming

// Import theming functionality
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// * Typography

$light-theme-typography: mat-typography-config(
  $font-family: '"Segoe UI", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif"',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

// * Colors

// See the following guide for Angular Material theming
// https://coursetro.com/posts/code/116/Create-your-own-Angular-5-Material-Theme
// Or see the following video
// https://www.youtube.com/watch?v=kHbMm7psBag

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// Incluide common styles
//@include mat-core($ligth-theme-typography);

// Define color palettes


$light-theme-primary-palette: (
  50 : #e5e7e8,
  100 : #bec2c5,
  200 : #92999e,
  300 : #667077,
  400 : #465259,
  500 : #25333c,
  600 : #212e36,
  700 : #1b272e,
  800 : #162027,
  900 : #0d141a,
  A100 : #5db7ff,
  A200 : #2aa0ff,
  A400 : #0088f6,
  A700 : #007adc,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);


$light-theme-accent-palette: (
  50 : #eae8f1,
  100 : #cbc5dc,
  200 : #a99fc5,
  300 : #8679ae,
  400 : #6c5c9c,
  500 : #523f8b,
  600 : #4b3983,
  700 : #413178,
  800 : #38296e,
  900 : #281b5b,
  A100 : #ac99ff,
  A200 : #8266ff,
  A400 : #5833ff,
  A700 : #441aff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// Define the primary pallete:
// - (the second parameter passed to mat-palette() is the default primary color)
// - (the third parameter passed to mat-palette() is the lighter variant of the color [some components use these values])
// - (the Fourth parameter passed to mat-palette() is the darker variant of the color [some components use these values])
$light-theme-primary: mat-palette($light-theme-primary-palette, 700, 400, 900);
// Define the accent pallete  (the second parameter passed to mat-palette() is the default accent color)
$light-theme-accent: mat-palette($light-theme-accent-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
// Provide an optional warning pallete
$warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
// Create a light mixin
$light-theme: mat-light-theme(
  $light-theme-primary,
  $light-theme-accent,
  $warn
);
