.sidenav-container {
    .navigation-container {
        display: flex;
        flex-direction: column;
        a {
            position: relative;
            padding: 10px 20px;
            cursor: pointer;
            text-decoration: none;
            &:visited {
              color: inherit;
            }
            &.active {
                background-color: gainsboro;
              &:before {
                content: '';
                position: absolute;
                height: 100%;
                background-color: #3f51b5;
                width: 2px;
                right: 0px;
                top: 0px;
              }
            }
          }
    }
}

