<div class="sidenav-container">
    <mat-toolbar  color="primary">
        <span>{{initials}}</span>
      </mat-toolbar>
      <div class="navigation-container">
        <div routerLink="/home" routerLinkActive="active">{{ 'SIDEBAR.HOME' | translate }}</div>
      <div routerLink="/about" routerLinkActive="active">{{ 'SIDEBAR.ABOUT' | translate }}</div>
      <div routerLink="/cv" routerLinkActive="active">{{ 'SIDEBAR.CV' | translate }}</div>
      <div routerLink="/projects" routerLinkActive="active">{{ 'SIDEBAR.PROJECTS' | translate }}</div>
      <div routerLink="/hobbies" routerLinkActive="active">{{ 'SIDEBAR.HOBBIES' | translate }}</div>
      </div>
      <div class="theming-container">
        <div class="label">{{ 'SIDEBAR.THEME' | translate }}</div>
        <mat-radio-group class="theme-radio-group" aria-label="Select an option" [formControl]="themeControl">
          <mat-radio-button [color]="'accent'" value="light-theme">{{ 'SIDEBAR.LIGHT' | translate }}</mat-radio-button>
          <mat-radio-button [color]="'primary'" value="dark-theme">{{ 'SIDEBAR.DARK' | translate }}</mat-radio-button>
        </mat-radio-group>
  </div>
</div>
