mat-sidenav-container {
    background-color: unset;
    mat-sidenav {
      display: flex;
      font-family: 'Nunito', sans-serif;
      flex-direction: column;
      position: fixed;
      top: 0px;
    }
  }

.router-outlet-container {
    min-height: calc(100vh - 64px - 331px );
    @media screen and (max-width: 600px) {
        min-height: calc(100vh - 64px - 441px );   
    }
}

.feedback-button {
  position: fixed; 
  right: -35px ;
  top: calc(50vh - 46px);
  z-index: 1;
  transform: rotate(-90deg);
  cursor: pointer;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  line-height: 20px;
}
    
