<mat-sidenav-container [ngClass]="{'no-scroll': opened}">
    <mat-sidenav
     mode="over" 
     [(opened)]="opened"
     [autoFocus]="false"
     (openedStart)="onOpenedStart()"
     (closedStart)="onClosedStart()"
    >
    <app-sidebar [initials]="initials" (sideBarNavigation)="opened = false"></app-sidebar>    
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header [initials]="initials" (toggleSidenav)="opened = !opened"></app-header>
        <div class="router-outlet-container">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-scroll-to-top></app-scroll-to-top>

