<section class="hobbies-jumbotron">
    <div  class="jumbotron-container" >
        <div class="jumbotron-overlay">
            <div class="elements-container">
                <h1>Hobbies</h1>
                <h5>La lógica te llevará desde A hasta B. La imaginación te llevará a cualquier parte. – Albert Einstein.</h5>
            </div>
        </div>
    </div>
</section>

<section class="hobbies-section">
    <div class="hobbies-container">
        <div class="title">My Hobbies</div>
        <div class="cards-container">
            <mat-card *ngFor="let hobby of hobbies">
                <img mat-card-image src="{{hobby.imageUrl}}">
                <mat-card-title>{{hobby.name}}</mat-card-title>
                <mat-card-content>
                    <div [innerHTML]="hobby.description"></div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>