.about-jumbotron {
  .jumbotron-container {
    background-image: url('/assets/images/jumbotrons/hero.png');
    background-size: contain;
    .jumbotron-overlay {
      .elements-container {
        max-width: 1280px;
        margin: auto;
        color: white;
        padding: 36px 16px;
        h1 {
          font-size: 46px;
          font-weight: bold;
          line-height: 120%;
        }
        h5 {
          margin: 10px 0px;
          font-size: 24px;
          padding-bottom: 4px;
          line-height: 120%;
        }
        button {
          margin-top: 23px;
          height: 46px;
        }
      }
    }
  }
}

.tab-group {
  mat-icon {
    color: #834dca;
    margin-right: 10px;
    border: 2px solid #c090f4;
    background-color: white;
    border-radius: 8px;
  }
  .label {
    color: #333333;
    text-shadow: none;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .tab {
    box-sizing: border-box;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 1312px;
    padding: 40px 16px;
    padding-bottom: 40px;
    position: relative;
  }
  .tab-resume {
    .resume-container {
      padding: 32px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08), 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-color: white;
      .document {
        display: flex;
        margin-bottom: 30px;
        .resume-left {
          padding: 20px;
          max-width: 220px;
          .title {
            font-size: 20px;
            text-align: center;
          }
          .section-title {
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: bold;
          }
          .subtitle {
            font-size: 16px;
            opacity: 0.75;
            margin-top: 20px;
          }
          .link-container {
            display: flex;
            .icon {
              display: flex;
              display: flex;
              align-items: baseline;
              .fab {
                margin-right: 10px;
              }
            }
            .link {
              word-break: break-all;
            }
          }
          .spanish-bar {
            height: 4px;
            width: calc(100% - 20px);
          }
          .english-bar {
            height: 4px;
            width: calc(60% - 20px);
          }
        }
        .left-purple {
          background-color: #834dca;
          .spanish-bar {
            background-color: white;
          }
          .english-bar {
            background-color: white;
          }
        }
        .left-blue {
          background-color: #0078d7;
          .spanish-bar {
            background-color: white;
          }
          .english-bar {
            background-color: white;
          }
        }
        .left-gray {
          background-color: #c4c4c4;
          .spanish-bar {
            background-color: black;
          }
          .english-bar {
            background-color: black;
          }
        }
        .right {
          flex-grow: 1;
          margin-left: 32px;
          color: #333333;
          padding-right: 32px;
          .name {
            margin-top: 16px;
            font-size: 24px;
            font-weight: bold;
          }
          .date {
            margin-top: 16px;
            font-size: 14px;
            margin-bottom: 10px;
            font-weight: 500;
          }
          .profile-label {
            margin: 10px 0px;
            color: #c4c4c4;
            font-size: 14px;
          }
          .profile {
            margin: 10px 0px;
            font-size: 14px;
          }
          .section-title {
            margin-top: 30px;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: bold;
          }
          .place {
            margin: 10px 10px;
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            .left {
              display: flex;
              .position {
                font-weight: bold;
                margin-right: 10px;
              }
              .period {
                color: #c4c4c4;
                text-transform: uppercase;
              }
            }
            .right {
              flex-grow: unset;
              font-weight: bold;
              margin-left: 10px;
            }
          }
          .points-list {
            margin-bottom: 10px;
            .points {
              font-size: 14px;
            }
          }
        }
      }
      .controls-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .select-color-container {
          display: flex;
          flex-direction: column;
          .select-color-label {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
          }
          .color-container {
            display: flex;
            .control {
              margin: 5px;
              width: 20px;
              height: 20px;
              cursor: pointer;
            }
            .purple {
              background-color: #834dca;
            }
            .blue {
              background-color: #0078d7;
            }
            .gray {
              background-color: #c4c4c4;
            }
          }
        }
      }
    }
  }
  ::ng-deep {
    .mat-tab-header {
      border: none;
    }
    .mat-tab-list {
      background-color: #f5f5f5;
      .mat-tab-labels {
        justify-content: space-between;
        max-width: 1324px;
        // padding: 0px 16px;
        margin: auto;
        align-items: center;
        .mat-tab-label {
          /* margin: 0px 10px;
          padding-left: 0px;
          padding-right: 0px; */
          margin: 0px 10px;
          padding: 0px 10px;
          min-width: unset;
          max-width: 200px;
          margin-bottom: 2px;
          height: unset;
          overflow: unset;
          z-index: 1;
          &:focus {
             /* margin-left: 0px;
            margin-right: 0px;
            padding: 0px 10px; */
            outline: 1px solid black;
            outline-offset: -2px;
            outline-style: dashed;
            /* height: 16px; */
            /* outline-offset: 10px; */
            @media screen and (max-width: 450px) {
              outline: none;
            }
              $animation-delay: 0.4s;
              /* @keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
              } */

              /* @keyframes fadein{
                0% { opacity:0; }
                66% { opacity:0; }
                100% { opacity:1; }
              }
              @-webkit-keyframes fadein{
                0% { opacity:0; }
                66% { opacity:0; }
                100% { opacity:1; }
              } */
              @keyframes cssAnimation {
                to   { visibility: visible; }
              }
              &:before {
                display: none;
              }
              &:after {
                display: none;
              }
            }
            &:hover {
              background-color: #d8d8dc;
              /* margin-left: 0px;
              margin-right: 0px;
              padding: 0px 10px; */
              /* height: 16px; */
              /* outline-offset: 10px; */
              @media screen and (max-width: 450px) {
                outline: none;
              }
              $animation-delay: 0.4s;
              /* @keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
              } */

              /* @keyframes fadein{
                0% { opacity:0; }
                66% { opacity:0; }
                100% { opacity:1; }
              }
              @-webkit-keyframes fadein{
                0% { opacity:0; }
                66% { opacity:0; }
                100% { opacity:1; }
              } */
              @keyframes cssAnimation {
                to   { visibility: visible; }
              }
              &:after {
                position: absolute;
                content: "";
                bottom: -2px;
                width: 100%;
                height: 2px;
                background-color: #834dca;
                z-index: 1000;
                left: 0px;
              }
            }
            &:after {
              position: absolute;
              content: "";
              bottom: -2px;
              width: 10px;
              height: 2px;
              background-color: #cacaca;
              z-index: 1000;
              left: 0px;
              /* animation: fadein 1.5s;
              transition-delay: 5s; */

              /* -webkit-animation: $animation-delay ease 0s normal forwards 2 fadein;
              animation: $animation-delay ease 0s normal forwards 2 fadein; */

              /* animation: cssAnimation 0s $animation-delay forwards;
              visibility: hidden; */
            }
            &:before {
              position: absolute;
              content: "";
              bottom: -2px;
              width: 10px;
              height: 2px;
              background-color: #cacaca;
              z-index: 1000;
              right: 0px;
              /* animation-delay: 5s;
              animation: fadein 1.5s; */

              /* -webkit-animation: $animation-delay ease 0s normal forwards 2 fadein;
              animation: $animation-delay ease 0s normal forwards 2 fadein; */

              /* animation: cssAnimation 0s $animation-delay forwards;
              visibility: hidden; */
            }
          }
          .mat-tab-label-content {
            padding: 5px 0px;
            font-size: 14px;
            color: #333333;
            font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            font-weight: 400;
            @media screen and (max-width: 425px) {
              font-size: 13px;
            }
          }
        }
        .mat-tab-label-active {
          opacity: 1;
        }
        &:before {
          content: "";
          position: absolute;
          height: 2px;
          background-color: #cacaca;
          width: 100%;
          z-index: unset;
          bottom: 0px;
          left: 0px;
        }
        @media screen and (max-width: 425px) {
          padding: 0px 20px;
        }
      }
      .mat-ink-bar {
        background-color: #834dca;
        height: 2px;
        z-index: 0;
        /* &:before {
          content: '';
          position: absolute;
          width: 10px;
          height: 2px;
          background: #cacaca;
          bottom: 0px;
          left: 0px;
        }
        &:after {
          content: '';
          position: absolute;
          width: 10px;
          height: 2px;
          background: #cacaca;
          bottom: 0px;
          right: 0px;
        } */
      }
    }
  }


.tabs-navigation {
  .tab-selector {
  }
}